.nav {
  height: 100%;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  height: 100%;
}

.nav-menu__item {
  height: 100%;
}

.nav-menu__link {
  font-weight: bold;
  height: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s ease all;
}

.nav-menu__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
