@import '../globals';

.footer {
  text-align: center;
  background-color: $black;
  color: $white;

  &::before {
    content: '';
    display: block;
    height: 0.75rem;
    background: linear-gradient(to right, $rainbow);
  }

  .container {
    padding: 0 2rem;
  }

  a {
    color: currentColor;
    text-decoration: none;

    svg {
      margin-right: 0.5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .social-link {
    margin: 0 1rem;

    display: inline-flex;
    align-items: center;
  }
}
