@import '../globals';

.header {
  height: 60px;
  padding: 0 1rem;
  box-shadow: $shadow;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    .img {
      position: relative;
      height: 100%;
    }
  }
}
