@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
  /* Colors */
  --red-color: #eb5757;
  --green-color: #219653;
  --blue-color: #2f80ed;
  --yellow-color: #f2c94c;
  --white: white;
  --light-gray: #d3d3d3;
  --dark-gray: #696969;
  --transparent-light-gray: rgba(211, 211, 211, 0.5);
  --transparent-dark-gray: rgba(105, 105, 105, 0.5);
  --black: black;
  /* Fonts */
  --OpenSans: 'Open Sans', sans-serif;
  --ComicNeue: 'Comic Neue', cursive;
  /* Subjects */
  --aritmetica-color: var(--red-color);
  --algebra-color: var(--blue-color);
  --geometria-color: var(--green-color);
  --trigonometria-color: var(--yellow-color);
  --calculo-color: var(--green-color);
  --olimpiadas-color: var(--black-color);
  /* Patterns */
  --rainbow: var(--red-color), var(--red-color) 25%, var(--yellow-color) 25%,
    var(--yellow-color) 50%, var(--blue-color) 50%, var(--blue-color) 75%, var(--green-color) 75%,
    var(--green-color);
  --rainbow-continuous: var(--red-color), var(--yellow-color), var(--blue-color), var(--green-color);
}

body {
  font-family: var(--OpenSans);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main section {
  padding: 0 32px;
}

figure {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.title,
.subtitle {
  font-family: var(--ComicNeue);
}

.title-center,
.subtitle-center {
  font-family: var(--ComicNeue);
  text-align: center;
}

.text--red {
  color: var(--red-color);
}

.text--green {
  color: var(--green-color);
}

.text--blue {
  color: var(--blue-color);
}

.title--aritmetica {
  color: var(--aritmetica-color);
}

.title--algebra {
  color: var(--algebra-color);
}

.title--geometria {
  color: var(--geometria-color);
}

.title--trigonometria {
  color: var(--trigonometria-color);
}

.title--calculo {
  color: var(--calculo-color);
}

.title--olimpiadas {
  color: var(--olimpiadas-color);
}

.btn {
  font-family: var(--ComicNeue);
  font-size: 1rem;
  min-width: 160px;
  min-height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0 -0.2em 0.1em rgba(0, 0, 0, 0.25);
}

.btn--red {
  background-color: var(--red-color);
  color: var(--white);
}

.btn--green {
  background-color: var(--green-color);
  color: var(--white);
}

.btn--blue {
  background-color: var(--blue-color);
  color: var(--white);
}

.btn--gray {
  background-color: var(--dark-gray);
  color: var(--white);
}

.btn--off {
  background-color: var(--dark-gray);
  color: var(--white);
}

.btn--off:hover {
  box-shadow: none;
  cursor: default;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
