@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
  /* Colores */
  --red-color: #eb5757;
  --green-color: #219653;
  --blue-color: #2f80ed;
  --white: white;
  --light-gray: #d3d3d3;
  --dark-gray: #696969;
  --transparent-light-gray: rgba(211, 211, 211, 0.5);
  --transparent-dark-gray: rgba(105, 105, 105, 0.5);
  --black: black;
  /* Fuentes */
  --OpenSans: 'Open Sans', sans-serif;
  --ComicNeue: 'Comic Neue', cursive;
}

body {
  font-family: var(--OpenSans);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.title {
  font-family: var(--ComicNeue);
}
