@mixin body-norm {
  margin: 0;
}

@mixin a-norm {
  color: currentColor;
  text-decoration: none;
}

@mixin ul-norm {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btn-norm {
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
}

@mixin input-norm {
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
}

@mixin figure-norm {
  margin: 0;
}
