/* colors */
$red: #eb5757;
$green: #219653;
$blue: #2f80ed;
$yellow: #f2c94c;
$white: white;
$gray80: hsl(0, 0%, 80%);
$gray40: hsl(0, 0%, 40%);
$black: black;

/* fonts */
$content: 'Open Sans', sans-serif;
$titles: 'Comic Neue', cursive;

/* effects */
$shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
$rainbow: $red, $red 25%, $yellow 25%, $yellow 50%, $blue 50%, $blue 75%, $green 75%, $green;
