/* colors */
$red: #eb5757;
$green: #219653;
$blue: #2f80ed;
$yellow: #f2c94c;
$white: white;
$gray80: hsl(0, 0%, 80%);
$gray40: hsl(0, 0%, 40%);
$black: black;

/* fonts */
$content: 'Open Sans', sans-serif;
$titles: 'Comic Neue', cursive;
